
//
// Enums
//
{{ range $enum := . }}
type {{ $enum.Name }} {{ $enum.Type | ToLower }}

const (
	{{- range $i, $const := $enum.Constants }}
	{{ $const.Key }} {{ $enum.Name }} = {{ $const.Value }}
	{{- end }}
)

func (e *{{ $enum.Name }}) UnmarshalText(text []byte) error {
	switch string(text) {
	{{- range $const := $enum.Constants }}
	case "{{ $const.Value }}":
		*e = {{ $const.Key }}
	{{- end }}
	default:
		return fmt.Errorf("invalid enum value: %s", string(text))
	}
	return nil
}

func (e {{ $enum.Name }}) MarshalText() ([]byte, error) {
	var name string
	switch e {
	{{- range $const := $enum.Constants }}	
	case {{ $const.Key }}:
		name = "{{ $const.Value }}"
	{{- end }}
	default:
		return nil, fmt.Errorf("invalid enum value: %d", e)
	}
	return []byte(name), nil
}
{{- end }}
