
type GreetingService interface {
	Echo(ctx context.Context) (*Message, error)
	Ping(ctx context.Context, userID string) error
	StatusStream(ctx context.Context, userID string) (<-chan *Message, error)
}
