
//
// Services
//

{{ range $service := . }}
type {{ $service.Name }} interface {
	{{- range $method := $service.Methods }}
	{{ $method.Name }}({{ $method.Args | MethodArgs }}) ({{ $method.Returns | MethodReturns}})
	{{- end }}
}
{{- end }}
