//
// Services
//
{{ range $service := . }}
type Http{{ $service.Name }}Service interface {
	{{- range $method := $service.Methods }}
    {{- if eq $method.Type "http" }}
	{{ $method.Name }}({{ $method.Args }}) ({{ $method.Returns }})
    {{- end }}
	{{- end }}
}

type Rpc{{ $service.Name }}Service interface {
    {{- range $method := $service.Methods }}
    {{- if eq $method.Type "rpc" }}
    {{ $method.Name }}({{ $method.Args }}) ({{ $method.Returns }})
    {{- end }}
    {{- end }}
}
{{- end }}