//
// Models
//
{{ range $model := .Models }}
type {{ $model.Name }} struct {
	{{- range $field := $model.Fields }}
	{{ $field.Name }} {{ $field.Type }} {{ if $field.Tags }}`{{ $field.Tags }}`{{ end }}
	{{- end }}
}
{{ end }}
