//
// Bases
//
{{range $base := .Bases }}
type {{ $base.Name }} struct {
    {{- range $opt := $base.Options }}
    {{ $opt.Name }} {{ $opt.Type }}
    {{- end}}
}

var {{ $base.NameValue }} = {{ $base.Name }}{
    {{- range $opt := $base.Options }}
    {{ $opt.Name }}: {{ $opt.Value }},
    {{- end}}
}

{{ end }}