//
// Handler Servers
//

{{ range $service := .HttpServices }}
const {{ $service.PathName }} = "{{ $service.PathValue }}"
	{{- range $method := $service.Methods }}
const {{ $method.PathName }} = "{{ $method.PathValue }}"
	{{- end }}
{{- end }}

var AllHttpServiceMethodPaths = []string{
{{- range $service := .HttpServices }}
{{- range $method := $service.Methods }}
	{{ $method.PathName }},
{{- end }}
{{- end }}
}

{{- range $service := .HttpServices }}

type {{ $service.NameImpl }} struct {
	service Http{{ $service.Name }}
	{{- range $i, $method := $service.Methods }}
	route{{ $i }} httpServiceMethodHandler
	{{- end }}
}

var _ http.Handler = (*{{ $service.NameImpl }})(nil)

func (s *{{ $service.NameImpl }}) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	var handler httpServiceMethodHandler

	switch r.URL.Path {
	{{- range $i, $method := $service.Methods }}
	case {{ $method.PathName }}:
		handler = s.route{{ $i }}
	{{- end }}
	default:
		httpResponseError(w, ErrServiceMethodNotFound.WithMsg("method %q not found", r.URL.Path))
		return
	}

	ctx := injectCommonVars(r.Context(), w, r)

	handler(ctx, w, r)
}

func Create{{ $service.Name }}Server(service Http{{ $service.Name }}) http.Handler {
	server := {{ $service.NameImpl }}{
		service: service,
	}

	{{- range $i, $method := $service.Methods }}
	server.route{{ $i }} = server.create{{ $method.Name }}()
	{{- end }}

	return &server
}

{{- range $method := $service.Methods }}

func (s *{{ $service.NameImpl }}) create{{ $method.Name }}() httpServiceMethodHandler {
{{- if and $method.IsStream $method.IsBinary }}
	return createStreamBinaryServiceMethod(
		"{{ $method.Options.HttpMethod }}",
		{{ $method.HasArgs }},
		func (ctx context.Context, args *struct { 
			{{ $method.ArgsStructDefinitions false }}
		}) (io.Reader, string, string, error) {
			return s.service.{{ $method.Name }}(ctx, {{ $method.ArgsNames "args." }})
		},
	)
{{- else if $method.IsStream }}
	return createStreamServiceMethod(
		"{{ $method.Options.HttpMethod }}",
		{{ $method.HasArgs }},
		func (ctx context.Context, args *struct { 
			{{ $method.ArgsStructDefinitions false }}
		}) (<-chan *streamEvent, error) {
			{{ $method.GetReturnStreamName }}, err := s.service.{{ $method.Name }}(ctx, {{ $method.ArgsNames "args." }})
			if err != nil {
				return nil, err
			}

			out := make(chan *streamEvent, 1)
			go func() {
				defer close(out)
				var id int64
				for event := range {{ $method.GetReturnStreamName }} {
					data, err := json.Marshal(event)
					if err != nil {
						out <- &streamEvent{
							id: id,
							event: "error",
							data: err.Error(),
						}
						return
					}
					id++
					out <- &streamEvent{
						id: id,
						event: "{{ $method.GetReturnStreamName }}",
						data: string(data),
					}
				}
			}()
			return out, nil
		},
	)
{{- else if $method.IsFileUpload }}
	return createServiceMethodUploadHandler(
		{{ $method.Options.MaxUploadSize }},
		func(ctx context.Context, files func() (string, io.Reader, error), args *struct{
			{{ $method.ArgsStructDefinitions false }}
		})(ret *struct {
		{{ $method.ReturnsStructDefinitions }}
		}, err error){
			ret = &struct {
				{{ $method.ReturnsStructDefinitions }}
			}{}
			{{ $method.ReturnsNames "ret." }} err = s.service.{{ $method.Name }}(
				ctx,
				files,
				{{ $method.ArgsNames "args." }}
			)
			return
		},
	)
{{- else }}
	return createServiceMethodHandler("{{ $method.Options.HttpMethod }}", {{ $method.HasArgs }}, func(ctx context.Context, args *struct {
		{{ $method.ArgsStructDefinitions true }}
	}) (ret *struct {
		{{ $method.ReturnsStructDefinitions }}
	}, err error) {
		ret = &struct {
			{{ $method.ReturnsStructDefinitions }}
		}{}
		{{ $method.ReturnsNames "ret." }} err = s.service.{{ $method.Name }}(
			ctx, 
			{{ $method.ArgsNames "args." }}
		)
		return
	})
{{- end }}
}

{{- end }}
{{ end }}
