//
// Services
//
{{ range $service := .HttpServices }}
type Http{{ $service.Name }} interface {
	{{- range $method := $service.Methods }}
    {{- if $method.Options.RawControl }}
    {{ $method.Name }}(ctx context.Context{{ $method.Args.Definitions }})
    {{- else }}
	{{ $method.Name }}(ctx context.Context{{ $method.Args.Definitions }}) ({{ $method.Returns.Definitions }})
    {{- end }}
	{{- end }}
}
{{- end }}

{{ range $service := .RpcServices }}
type Rpc{{ $service.Name }} interface {
    {{- range $method := $service.Methods }}
    {{ $method.Name }}(ctx context.Context{{ $method.Args.Definitions }}) ({{ $method.Returns.Definitions }})
    {{- end }}
}
{{ end }}