
//
// SERVICES IMPLEMENTATION
//
{{ range $service := .HttpServices }}
export function create{{ $service.Name }}(host: string): {{ $service.Name }} {
    return {
{{- range $method := $service.Methods }}
{{- if $method.IsFileUpload }} 
        {{ $method.Name }}: (
            files: {name: string, data: Blob}[],
            args: {{ $method.ArgsName }},
            opts?: CallServiceOptions): Promise<{{ $method.ReturnsName }}> => {
            return callServiceUploadMethod(
                host,
                "{{ $method.PathValue }}",
                "{{ $method.Options.HttpMethod }}",
                args,
                files,
                opts);
        },
{{- else }}
        {{ $method.Name }}: (
            args: {{ $method.ArgsName }},
            opts?: CallServiceOptions): Promise<{{ $method.ReturnsName }}> => {
{{- if $method.IsStream }}
            return callServiceStreamMethod(
                host,
                "{{ $method.PathValue }}",
                "{{ $method.Options.HttpMethod }}",
                args,
                opts);
{{- else }}
            return callServiceMethod(
                host,
                "{{ $method.PathValue }}",
                "{{ $method.Options.HttpMethod }}",
                args,
                {{ if $method.IsBinaryStream }}true{{- else }}false{{- end }},
                opts);
{{- end }}
        },
{{- end }}
{{- end }}
    };
}
{{- end }}
